header{
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: rgb(244, 201, 253);
    height: 80px;
}

.container{
    display: flex;
    flex-direction: row;
    // height: 100%;
}

.left-menu{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: rgb(169, 203, 253);
}

.content{
    display: flex;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 197, 197);
    
}