<header>
  <h3>Gestion de mes contact</h3>
</header>

<div class="container">
  <div class="left-menu">
    <app-add-contact [ngStyle]="{'width' : '80%'}" (onEventSubmit)="addContact($event)"></app-add-contact>
    <app-contacts [contacts]="contacts" (onEventClick)="showContact($event)" (onChangeOrder)="changeOrder($event)"></app-contacts>
  </div>

  <div class="content">
    <app-contact-item (onChange)="changeName($event)" [ngStyle]="{'width':'100%'}" [contact]="contactToShow" (onEventDelete)="deleteContact($event)"></app-contact-item>
  </div>
</div>